body{
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
.container {
    max-width: 960px;
}
a{
    text-transform: uppercase;
}
p {font-size: 16px;}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #222222;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #ffffff;
}

td{
    border: 0px;
}
table{
    width: 90%;
}
.msg{
    height: 40px;
}
h1{
    font-weight: bold;
}h2{
    font-weight: bold;
 }
ul, li, form{
    display: block;
}
.menu{
    float: left;
}
.search{
    float: right;
}
.navbar > .menu> .nav > li.active >a{
    color: #c7254e;
    background-color: #122b40;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar > .menu> .nav > li.active >a:hover{
    color: #eea236;
    background-color: #454545;
}
.limit{
    max-width: 60px;
}


